<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - shared taxi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="css/sticky-footer.css">
</head>
<body>

<nav th:replace="fragments/header :: header">&nbsp;</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Login</h1>
        </div>
    </div>
    <br/>
    <div th:if="${registration}" class="row">
        <div class="col-lg-6">
            <div class="alert alert-success">You have successfully registered!</div>
        </div>
    </div>
    <div th:if="${usernamePasswordInvalid}" class="row">
        <div class="col-lg-6">
            <div class="alert alert-warning">Your login data is invalid!</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form id="login-form" th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">User name</label>
                    <input type="email" class="form-control" id="username" name="username"
                           th:value="${username}" required="true"
                           placeholder="E-Mail"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required="true"
                           placeholder="Password"/>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Log In</button>
            </form>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-6">
            <p>No account yet? <a href="/registration">Register here</a></p>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer">&nbsp;</footer>

</body>
</html>