<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Registration - shared taxi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="css/sticky-footer.css">
</head>
<body>

<nav th:replace="fragments/header :: header">&nbsp;</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Registering</h1>
            <br/>
            <form id="registration-form" th:action="@{/registration}" method="post">
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name"/>
                </div>
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name"/>
                </div>
                <div class="form-group">
                    <label for="username">User name</label>
                    <input type="email" class="form-control" id="username" name="username" required="required"
                           placeholder="E-Mail"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required="required"
                           placeholder="Password"/>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Register</button>
            </form>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer">&nbsp;</footer>

</body>
</html>